

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {

    // --color1: ;
    // --color2: ;

    // --h1: ;
    // --h1: ;
    // --h1: ;
    // --h1: ;
    // --h1: ;
    // --h1: ;


    @media (max-width: 600px) {}
}